<div id="header">
Erics' Inbox
</div>

<div id="xxx">
<% if @nummails > 0 %>  
<%= render :partial => 'inbox/messages' %>
<% end %>
</div>


<iframe width="280" height="175" src="http://www.youtube.com/embed/7BOhDaJH0m4" frameborder="0" allowfullscreen></iframe>
